*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

body{
    background: linear-gradient(#01012e, #240019);
    
    display: flex;
}

.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}



.img-box img{
    width: 100%;
    
}

.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2{
    font-family: 20px;
    text-transform: capitalize;
}

.menu{
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .5s;

}
.menu:hover{width: 360px;
}

ul{
    list-style: none;
    position:relative;
    height: 95%;
}

ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
}

ul li a:hover, .active, .data-info .box:hover, td:hover{
    background-color: #ffffff55;
}


.log-out{
    position:absolute;
    bottom:0;
    width: 100%;
}

.log-out:hover{
    transform: translateX(100px);
    transition: 2s;
}

.log-out a{
    background-color: #a00;
}

ul li a i{
    font-size: 30px;
}



/* ######################### */

.content{
    background: url(./images/stars1.png);
    height: 100vh;
    width: 100%;
    margin: 10px;
    margin: .5rem;
}

.title-info{
    background-color: #0481ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px;
}


.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

}

.data-info .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
}
.box{
    position: relative;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.box::after, .box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%, blue, red);
    /* background-color: red; */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 8px;
    animation: 4s spin linear infinite;
}
.box::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}


.data-info .box i{
    font-size: 40px;
}

.data-info .box .data{
    text-align: center;
}

.data-info .box span{
    font-size: 30px;
}


table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}


td ,th{
    background-color: #123;
    height: 40px;
    border-radius: 8px;
}
td:hover{
    transform: rotate(360deg);
    transition: 3s;
}
th{background-color: #0481ff;
}

.price, .count{
    padding: 6px;
    border-radius: 6px;

}

.price:hover{
    background-color: green;

}

.count:hover{
    background-color: gold;
    color: black;
}